
div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: #EFBDDB;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    padding:5px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    color: #633991;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #F5D5ED;
}

tr:nth-child(even) {
    background-color: #FBEDFF;
}
.isp_button{
  background-color: #e38cb7;;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
  font-weight: 300;
}
.isp_button:hover{
  background-color: #d6619c;
}

.selected_isp{
        color:#633991;
        background-color: #d6619c;
        font-weight: 500;

       
}

/*scale colors*/
.noData{
     fill:#F7F4DD;
}
.scale1{
    fill:#633991;
}
.scale2{
    fill:#8966AD;
}
.scale3{
    fill:#AF93C8;
}
.scale4{
    fill:#D5C0E4;
}
.scale5{
    fill:#FBEDFF;
}

.svg_title{
  font-family: Margot, sans-serif;
}
.svg_legend{
  fill:#633991
  
}


.comuna{
    stroke: #E5E2CB;
    stroke-width:1.41398096px;
    
}

.comuna:hover{
    stroke: #D7D2AF;
    stroke-width:5px;
    cursor: pointer;
}




.tableFixHead          { overflow: auto; height: inherit; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }