
div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #888;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.isp_button{
  background-color: #e38cb7;;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
}
.isp_button:hover{
  background-color: #d6619c;
}

.selected_isp{
        color:#633991;

       
}

.comuna{
    stroke: #d38d5f;
    stroke-width:1.41398096px;
}

.comuna:hover{
    stroke: #888888;
    stroke-width:3px;
}